.navbar {
    background-color: #fcfcfc;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #af2222;
    text-align: center;
    padding: 30px 40px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}
body {
    font-family: Arial, sans-serif;
    margin: 1;
    padding: 1;
    background-color: #864406;
    font-size: 30px; 
}
.container {
    margin-top: 10px;
    padding: 16px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}