<!DOCTYPE html>
<html>
<head>
    <title>Hakkımda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='hakkinda.css') }}">
    <script src="{{ url_for('static', filename='common-script.js') }}"></script>

</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}" class="back-button">&#9664; Önceki</a>
    </div>

    <div class="container">
        <h1>Kişisel Bilgilerim</h1>
        <p>Merhaba, Ben Onur BAKIR. 04/08/2002 yılında Samsun da doğdum. Elektrik-Elektronik Mühendisliği 3.sınıf öğrencisiyim. En kolay yaptığım dersler genellikle kodlama dersleri oluyor. Elektrik derslerini de yapıyorum ama kodlama dersleri her zaman bana daha zevkli gelmiştir.
        En çok keyif aldığım ders 2.sınıf dersi olan Dijital Sistemler dersiydi.Bu ders kapsamında hem VHDL programlama dilini hemde ZYNQ serisinden olan ZYBO Z7-10 geliştirme kartı ile ilgili birkaç tane işlem yapma imkanımız oldu.Bunlardan bazıları işlemcinin üzerinde bulunan ledler ile kayan led yapma uygulaması yani karaşimşek uygulaması
        bu tip uygulamaları yapmak benim her zaman çok hoşuma gitmiştir.Bu bölümü bitirince hedefim iyi bir gömülü yazılım mühendisi olmaktır.Bu hedef kapsamında çalışmalarıma devam ediyorum.
        
        Hobilerim arasında maket yapmak yüksek ihtimalle en başta geliyor. Çünkü bu tip şeylerle uğraşmak hem beni rahatlatıyor hem de yapılan maketin sonunda güzel olması insana tatminkarlık hissi veriyor.Bunun yanı sıra film izlemek, daha önce gitmediğim illere gitmek bu yıl mesela hiç gitmediğim Muğla ve Denizliye gitme imkanım oldu.
        Ana hedefim gömülü yazılım mühendisi olmak olsa da kendimi kontrol alanında geliştirmek istiyorum.Bu alanda İhaların kontrol dinamiğini öğrenmeye çalışıyorum.
    </div>
</body>
</html>
