<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>WEBSITE</title>
</head>
<body>
    <header>
        <h1>Onur Bakır'ın Kişisel Bilgilerini İçeren Websitesi</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('hakkinda') }}">Hakkında</a></li>
                <li><a href="{{ url_for('fotograf') }}">Fotoğraf</a></li>
                <li><a href="{{ url_for('projeler') }}">Projeler</a></li>
                <li><a href="{{ url_for('iletisim') }}">İletişim Bilgileri</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>Hoş Geldiniz</h2>
        <p>Bu site benim kişisel bilgilerimi içeren bir websitesidir.Yukarıdaki sekmelere tıklayarak benim hakkımda daha fazla bilgi sahibi olabilirsiniz.</p>
    </section>


</body>
</html>
